<p>vehicles works!</p>
<input type="text" placeholder="Search" [(ngModel)]="term">
<button (click)="filteredvehicles()">search</button>
<button (click)="getVehicleWithParams()">search2</button>

<label for="">Column:</label>
<select [(ngModel)]="column">
    <option value="color">Color</option>
    <option value="fuel">Fuel</option>
    <option value="model">Model</option>
</select>

<label for="">Order:</label>
<select [(ngModel)]="order">
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
</select>
<button (click)="sortVehicles()">Sort</button>
<button (click)="getVehicleWithParams()">Sort2</button>

<table border="0">
    <thead>
        <tr>
            <th>Vehicle</th>
            <th>manufacturer</th>
            <th>Model</th>
            <th>Type</th>
            <th>Fuel</th>
            <th>Color</th>
            <th>Image</th>
            <!-- <th>Cost</th>
            <th>tyres</th> -->
            <th>Id</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.fuel}}</td>
            <td>{{vehicle.color}}</td>
            <td>
                
                <img [src]="vehicle.image" alt=""width="100px" height="100px">
                <!-- another way to load images 
                 <img src="{{vehicle.image}}" alt="" width="100px" height="100px">
                 
                -->
            <!-- </td>
            <td>{{vehicle.cost}}</td>
            <td>{{vehicle.tyres}}</td> -->
            <td>{{vehicle.id}}</td>
            <td>
                <button (click)="deleteVehicle(vehicle.id)">delete</button>
            </td>
        </tr>
    </tbody>
</table>
<!-- creating button for pages like 1,2 -->
 <button
    class="yellow-button"
    (click)="pageVehicle(i+1)"
    *ngFor="let page of [].constructor(10); let i=index"
 >{{i+1}}</button>
 <hr>
 <!-- 1,2,3 buttons for search2 -->
  <button
    class="gray-button"
    (click)="getVehicleWithParams(i+1)"
    *ngFor="let page of [].constructor(10); let i=index"
 >{{i+1}}</button>
