<p>create-user works!</p>

<form [formGroup]="userForm" (ngSubmit)="submit()">
  <label for="">Name :</label>
  <input type="text" formControlName="name" />
  <br />
  <label for="">Age :</label>
  <input type="text" formControlName="age" />
  <br />
  <label for="">Phone :</label>
  <input type="number" formControlName="phone" />
  <br />
  <label for="">Email :</label>
  <input type="email" formControlName="email" />
  <br />
  <div formGroupName="address">
    <label for="">City :</label>
    <input type="text" formControlName="city" />
    <br />
    <label for="">Pincode :</label>
    <input type="text" formControlName="pincode" />
    <br />
  </div>

  <label for="">Cards :</label>
  <button type="button" (click)="addCard()">add card</button>

  <div formArrayName="cards">
    <div *ngFor="let card of cardFormArray.controls; let i = index">
      <div formGroupName="{{ i }}">
        <h4>card {{ i + 1 }}</h4>

        <label for="">number :</label>
        <input type="text" formControlName="number" />
        <br />

        <label for="">name :</label>
        <input type="text" formControlName="name" />
        <br />

        <label for="">cvv :</label>
        <input type="text" formControlName="cvv" />
        <br />

        <button (click)="deleteCard(i)">delete</button>
        <hr />
      </div>
    </div>
  </div>

  <input type="submit" />
</form>
