<!-- <p>flipkart works!</p>
<div *ngFor="let product of products">
    <div>
        <div>{{product.image}}</div>
        <div>{{product.rating.rate}}</div>
        <div>{{product.rating.count}}</div>
        <div>{{product.category}}</div>
        <div>{{product.description}}</div>
        <div>{{product.price}}</div>
        <div>{{product.title}}</div>
        <div>{{product.id}}
            
        </div>
    </div>
</div> -->
<!-- {
    "id": 1,
    "title": "Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops",
    "price": 109.95,
    "description": "Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday",
    "category": "men's clothing",
    "image": "https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png",
    "rating": {
      "rate": 3.9,
      "count": 120
    } -->
      <p>flipkart works!</p>

<div class="container">

    <div class="card" *ngFor="let product of products">

        <div class="image-box">
            <img [src]="product.image" alt="{{product.title}}">
        </div>

        <div class="rating">
            {{product.rating.rate}}
        </div>

        <div class="category">
            {{product.category}}
        </div>

        <div class="title">
            {{product.title}}
        </div>

        <div class="price">
            Rs.{{product.price}}
        </div>

        <div class="count">
            {{product.rating.count}} Reviews
        </div>

    </div>

</div>