<div class="parent">
    <div class="left">
        <div class="logo">My Website</div>
        <!-- for child routes we dont use / -->
        <h1 routerLink="home">HOME</h1> 
        <h1 routerLink="welcome">WELCOME</h1>
        <h1 routerLink="data-binding">data -  binding</h1>
        <h1 routerLink="directives">directives</h1>
        <h1 routerLink="pipes">pipes</h1>
        <h1 routerLink="users">Users</h1>
        <h1 routerLink="products">products</h1>
        <h1 routerLink="products2">products2</h1>
        <h1 routerLink="vehicles">vehicles</h1>
        <h1 routerLink="accounts">Accounts</h1>
        <h1 routerLink="flipkart">flipkart</h1>
        <h1 routerLink="mails">mails</h1>

        <button routerLink="/login">logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>