<div class="parent">
    <div class="left">
        <div class="logo">My Website</div>
        <!-- for child routes we dont use / -->
        <h1 routerLink="home">HOME</h1> 
        <h1 routerLink="welcome">WELCOME</h1>
        <h1 routerLink="data-binding">data -  binding</h1>
        <h1 routerLink="directives">directives</h1>
        <h1 routerLink="pipes">pipes</h1>
        <h1 routerLink="users">Users</h1>
        <h1 routerLink="products">products</h1>
        <h1 routerLink="products2">products2</h1>
        <h1 routerLink="vehicles">vehicles</h1>
        <h1 routerLink="accounts">Accounts</h1>
        <h1 routerLink="flipkart">flipkart</h1>
        <h1 routerLink="mails">mails</h1>
        <h1 routerLink="Weather">Weather</h1>
        <h1 routerLink="create-vehicle">create-vehicle</h1>
        <h1 routerLink="create-user" >create-user</h1>
        <h1 routerLink="parent">parent</h1>
        <h1 routerLink="cart">cart</h1>
        <h1 routerLink="items">items</h1>
        <h1 routerLink="nav">Nav</h1>
        <h1 routerLink="contact-sales">contact sALES</h1>
        <h1 routerLink="payment/upi">upi</h1>
        <h1 routerLink="payment/card">card</h1>
        <h1 routerLink="form-task">Form Task</h1>

        <button (click)="logout()">logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>